<div class="chosen-values">
    <div class="span-whole">
        <span>Logo:</span>
        <span id="display-center-panel"></span>
    </div>

    <div class="col-left">
        <table>
            <tbody>
                <tr>
                    <td class="head">left</td>
                    <td class="head">colors</td>
                </tr>
                <tr>
                    <td>L1</td>
                    <td id="display-L1"></td>
                </tr>
                <tr>
                    <td>L2</td>
                    <td id="display-L2"></td>
                </tr>
                <tr>
                    <td>L3</td>
                    <td id="display-L3"></td>
                </tr>
                <tr>
                    <td>L4</td>
                    <td id="display-L4"></td>
                </tr>
                <tr>
                    <td>L5</td>
                    <td id="display-L5"></td>
                </tr>
                <tr>
                    <td>L6</td>
                    <td id="display-L6"></td>
                </tr>
                <tr>
                    <td>L7</td>
                    <td id="display-L7"></td>
                </tr>
                <tr>
                    <td>L8</td>
                    <td id="display-L8"></td>
                </tr>
                <tr>
                    <td>L9</td>
                    <td id="display-L9"></td>
                </tr>
                <tr>
                    <td>L10</td>
                    <td id="display-L10"></td>
                </tr>
                <tr>
                    <td>L11</td>
                    <td id="display-L11"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-right">
        <table>
            <tbody>
                <tr>
                    <td class="head">right</td>
                    <td class="head">colors</td>
                </tr>
                <tr>
                    <td>R1</td>
                    <td id="display-R1"></td>
                </tr>
                <tr>
                    <td>R2</td>
                    <td id="display-R2"></td>
                </tr>
                <tr>
                    <td>R3</td>
                    <td id="display-R3"></td>
                </tr>
                <tr>
                    <td>R4</td>
                    <td id="display-R4"></td>
                </tr>
                <tr>
                    <td>R5</td>
                    <td id="display-R5"></td>
                </tr>
                <tr>
                    <td>R6</td>
                    <td id="display-R6"></td>
                </tr>
                <tr>
                    <td>R7</td>
                    <td id="display-R7"></td>
                </tr>
                <tr>
                    <td>R8</td>
                    <td id="display-R8"></td>
                </tr>
                <tr>
                    <td>R9</td>
                    <td id="display-R9"></td>
                </tr>
                <tr>
                    <td>R10</td>
                    <td id="display-R10"></td>
                </tr>
                <tr>
                    <td>R11</td>
                    <td id="display-R11"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

