<div class="chosen-values">
    <div class="col-left">
        <table>
            <tbody>
                <tr>
                    <td class="head">left</td>
                    <td class="head">colors</td>
                </tr>
                <tr>
                    <td>L1</td>
                    <td id="display-L1"></td>
                </tr>
                <tr>
                    <td>L2</td>
                    <td id="display-L2"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-right">
        <table>
            <tbody>
                <tr>
                    <td class="head">right</td>
                    <td class="head">colors</td>
                </tr>
                <tr>
                    <td>R1</td>
                    <td id="display-R1"></td>
                </tr>
                <tr>
                    <td>R2</td>
                    <td id="display-R2"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

