    <div class="clrGroup">

        <div id="clrWrap-0" class="clrChooser">
            <label for="clr0">white</label>
            <input id="clr0" type="radio" name="clrs" value="white">
        </div>

        <div id="clrWrap-1" class="clrChooser">
            <label for="clr1">yellow</label>
            <input id="clr1" type="radio" name="clrs" value="yellow">
        </div>

        <div id="clrWrap-2" class="clrChooser">
            <label for="clr2">tangerine</label>
            <input id="clr2" type="radio" name="clrs" value="tangerine">
        </div>

        <div id="clrWrap-3" class="clrChooser">
            <label for="clr3">orange</label>
            <input id="clr3" type="radio" name="clrs" value="orange" checked>
        </div>

        <div id="clrWrap-4" class="clrChooser">
            <label for="clr4">red</label>
            <input id="clr4" type="radio" name="clrs" value="red">
        </div>

        <div id="clrWrap-5" class="clrChooser">
            <label for="clr5">bright-blue</label>
            <input id="clr5" type="radio" name="clrs" value="bright-blue">
        </div>

        <div id="clrWrap-6" class="clrChooser">
            <label for="clr6">dark-blue</label>
            <input id="clr6" type="radio" name="clrs" value="dark-blue">
        </div>

        <div id="clrWrap-7" class="clrChooser">
            <label for="clr7">purple</label>
            <input id="clr7" type="radio" name="clrs" value="purple">
        </div>

        <div id="clrWrap-8" class="clrChooser">
            <label for="clr8">light-grey</label>
            <input id="clr8" type="radio" name="clrs" value="light-grey">
        </div>

        <div id="clrWrap-9" class="clrChooser">
            <label for="clr9">dark-grey</label>
            <input id="clr9" type="radio" name="clrs" value="dark-grey">
        </div>

        <div id="clrWrap-10" class="clrChooser">
            <label for="clr10">black</label>
            <input id="clr10" type="radio" name="clrs" value="black">
        </div>

        <div id="clrWrap-11" class="clrChooser">
            <label for="clr11">flo-yellow</label>
            <input id="clr11" type="radio" name="clrs" value="flo-yellow">
        </div>

        <div id="clrWrap-12" class="clrChooser">
            <label for="clr12">flo-green</label>
            <input id="clr12" type="radio" name="clrs" value="flo-green">
        </div>
        
        <div id="clrWrap-13" class="clrChooser">
            <label for="clr13">green</label>
            <input id="clr13" type="radio" name="clrs" value="green">
        </div>
    </div>
