<nav class="navbar" role="navigation">
    <ul class="navbar-nav dropdown list-inline">
        {% for item in site.data.nav.menu %}
            {% if item.sub %}
                <li class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        {{ item.title }}
                    </button>

                    <ul class="dropdown-menu">
                        {% for subitem in item.sub %}
                            {% if subitem.url %}
                                <li class="nav-item">
                                    <a href="{{ subitem.url }}" alt="{{ subitem.title }}">
                                        {{ subitem.title }}
                                    </a>
                                </li>
                            {% endif %}

                            {% if subitem.fnc %}
                                <li class="nav-item">
                                    <a href="#" onclick="{{ subitem.fnc }};" 
                                        data-toggle="collapse" data-target=".navbar-collapse">
                                        {{ subitem.title }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li class="">
                    <a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>

