<div class="toolbox">
    {% include clr-pickers.html %}

    <div class="buttons">
        <input type="checkbox" id="labels" checked>
        <label for="labels">show labels</label><br />

        <input type="checkbox" id="reverse-center">
        <label for="reverse-center">reverse logo</label><br />

        <input type="checkbox" id="mirror">
        <label for="mirror">mirror</label><br />

        <select id="presets">
            <option value="">presets</option>
            <option value="green_black">Green Black</option>
            <option value="purple_lime_black">Purple/Lime/Black</option>
            <option value="hot">Hot</option>
            <option value="blues">Blues</option>
            <option value="red_white_blue">Red/White/Blue</option>
            <option value="black_red_grey">Black/Red/Grey</option>
        </select> <br /><br />

        <button id="reset">reset</button> <br />
        <button id="html2canvas">take screenshot</button>
    </div>
</div>
