<div class="toolbox">
    {% include clr-pickers.html %}

    <div class="buttons">
        <input type="radio" name="copy-mode" value="single" checked>single</input><br />
        <input type="radio" name="copy-mode" value="mirror">mirror</input><br />
        <input type="radio" name="copy-mode" value="whole-wing">whole wing</input><br />

        <hr />

        <input type="checkbox" id="labels" checked>
        <label for="labels">show labels</label><br />

        <input type="checkbox" id="reverse-center">
        <label for="reverse-center">reverse logo</label><br />
        <br />

        {% include {{ page.preset-options }} %}
        <br /><br />

        <button id="reset">reset</button> <br />
        <button id="html2canvas">take screenshot</button>

        <hr />

        <button id="save">save design</button><br />
        <button id="load">load design</button>
    </div>
</div>
