<div class="toolbox">
    {% include clr-pickers.html %}

    <div class="buttons">
        <input type="checkbox" id="labels" checked>
        <label for="labels">show labels</label><br />

        <input type="checkbox" id="reverse-center">
        <label for="reverse-center">reverse logo</label><br />

        <input type="checkbox" id="mirror">
        <label for="mirror">mirror</label><br />


        <select id="presets">
            <option value="">-presets-</option>
            <option value="dark_blue_black_grey_white">Dark Blue, Black, Grey, White</option>
            <option value="bright_blue_black_grey">Bright Blue, Black, Grey</option>
            <option value="lime_black_grey">Lime, Black, Grey</option>
            <option value="purple_black_grey_white">Purple, Black, Grey, White</option>
            <option value="red_black_grey">Red, Black, Grey</option>
        </select> <br /><br />

        <button id="reset">reset</button> <br />
        <button id="html2canvas">take screenshot</button>
    </div>
</div>
