<div class="toolbox">
    {% include clr-pickers.html %}

    <div class="buttons">
        <input type="radio" name="copy-mode" value="single" checked>single</input><br />
        <input type="radio" name="copy-mode" value="mirror">mirror</input><br />
        <input type="radio" name="copy-mode" value="whole-wing">whole wing</input><br />

        <hr />

        <input type="checkbox" id="labels" checked>
        <label for="labels">show labels</label><br />
        <br />

        <select id="presets">
            <option value="">presets</option>
            <option value="blues">Blues</option>
            <option value="hot">Hot</option>
            <option value="lime_purple">Lime/Purple</option>
            <option value="red_black">Red/Black</option>
        </select> <br /><br />

        <button id="reset">reset</button> <br />
        <button id="html2canvas">take screenshot</button>
    </div>
</div>
