:root {
    --dark-major: #343a40;
    --light-major: #ffffff;
    --text-major: #c98f2a;
    --text-minor: #cdc8c8;
    --text-mute: #7d7878;
    --text-link: #ada8a8;
    --border-light: #586e75;
}

html {
    --bkg-main: var(--dark-major);
    --border: var(--border-light);

    &.light {
        --bkg-main: var(--light-major);
        --text-major: var(--dark-major);
    }
}
