:root {
    --white:       #ffffff;
    --yellow:      #ffff00;
    --tangerine:   #FFD000;
    --orange:      #FF9A00;
    --red:         #FF0000;
    --bright-blue: #00AFF1;
    --dark-blue:   #1F3593;
    --purple:      #AC2293;
    --light-grey:  #cdcdcd;
    --dark-grey:   #818181;
    --black:       #222222;
    --flo-yellow:  #C9FF00;
    --flo-green:   #02f41a;
    --green:       #4cb780;
    --current-color: var(--orange);
}

svg path {
    fill: black;
}

.header {
    border: none;

    .header-text {
        margin-left: 200px;
    }
}

/* Layout */
.main-content {
    display: grid;
    grid-template-columns: minmax(100px, 200px) minmax(600px, 1000px);
    gap: 10px;
    max-width: 1200px;
    min-width: 700px;
    height: auto;
    padding: 0;
    margin: 0 auto 30px auto;
    font-size: .9rem;

    .toolbox {
        grid-column: 1 / 2;
    }

    .kite-colorizer {
        grid-column: 2 / 3;
    }
}

.kite-colorizer {
    .kite {
        background-image: url(/assets/images/bright-blue-sky-with-a-few-tiny-white-clouds.jpg);
        background-repeat: no-repeat;
        padding: 15px;

        p, p a, h1 {
            color: white;
        }
    }

    .chosen-values {
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 15px;

        table td.head {
            font-weight: bold;
            text-decoration: underline;
        }

        display: grid;
        grid-template-areas: ". left right .";
        grid-template-columns: 257px 1fr 1fr auto;

        .col-left {
            grid-area: left;
        }

        .col-right {
            grid-area: right;
        }
    }
}

.revolution-reflex {
    margin: 15px auto;

    .panel {
        fill: #eee;
        stroke: #000000;
        stroke-width: 6px;

        // Each radio button in the toolbox has a value that corresponds to the following classes.
        // Use jquery to add these classes when a panel is clicked.
        &.white {
            fill: var(--white);
        }

        &.yellow {
            fill: var(--yellow);
        }

        &.tangerine {
            fill: var(--tangerine);
        }

        &.orange {
            fill: var(--orange);
        }

        &.red {
            fill: var(--red);
        }

        &.bright-blue {
            fill: var(--bright-blue);
        }

        &.dark-blue {
            fill: var(--dark-blue);
        }

        &.purple {
            fill: var(--purple);
        }

        &.light-grey {
            fill: var(--light-grey);
        }

        &.dark-grey {
            fill: var(--dark-grey);
        }

        &.black {
            fill: var(--black);
        }

        &.flo-yellow {
            fill: var(--flo-yellow);
        }

        &.flo-green {
            fill: var(--flo-green);
        }

        &.green {
            fill: var(--green);
        }
    }

    text {
        fill: #000000;
        font-size: 100px;
    }

    #center-panel {
        fill: #ffffff;
        font-size: 100px;

        &.reverse {
            fill: #000000;
        }
    }

    .logo {
        stroke: black;
        stroke-width: 6px;

        &.reverse {
            stroke: white;
        }
    }
}

.toolbox {
    height: auto;
    padding: 10px;
    color: #333;
    background-color: var(--current-color);

    .buttons {
        background-color: var(--dark-grey);
        padding: 5px;

        select#presets {
            max-width: 169px;
        }
    }

    .clrGroup {
        text-align: right;

        #modelChanger {
            margin: 0 auto 15px;
            width: 100%;
        }
    }

    .clrChooser {
        height: 25px;
        margin-bottom: 2px;
    }

    input[type="radio"] {
        width: 10%;
    }

    label {
        display: inline;
    }

    #clrWrap-0 {
        background-color: var(--white);
    }

    #clrWrap-1 {
        background-color: var(--yellow);
    }

    #clrWrap-2 {
        background-color: var(--tangerine);
    }

    #clrWrap-3 {
        background-color: var(--orange);
    }

    #clrWrap-4 {
        background-color: var(--red);
    }

    #clrWrap-5 {
        background-color: var(--bright-blue);
        color: #fff;
    }

    #clrWrap-6 {
        background-color: var(--dark-blue);
        color: #fff;
    }

    #clrWrap-7 {
        background-color: var(--purple);
        color: #fff;
    }

    #clrWrap-8 {
        background-color: var(--light-grey);
    }

    #clrWrap-9 {
        background-color: var(--dark-grey);
        color: #fff;
    }

    #clrWrap-10 {
        background-color: var(--black);
        color: #fff;
    }

    #clrWrap-11 {
        background-color: var(--flo-yellow);
    }

    #clrWrap-12 {
        background-color: var(--flo-green);
    }

    #clrWrap-13 {
        background-color: var(--green);
    }
}

#show-toolbox,
#displayCanvas {
    display: none;
}

#displayCanvas {
    width: 967px;
    height: auto;
    position: fixed;
    top: 44px;
    margin: 0 auto 0 210px;
    border: 1px solid red;
    background: black;
    color: white;
}

#displayCanvas::before {
    content: 'right click / save image';
    position: absolute;
    top: -30px;
    left: 0;
}
