:root {
    --white:       #ffffff;
    --yellow:      #ffff00;
    --tangerine:   #FFD000;
    --orange:      #FF9A00;
    --red:         #FF0000;
    --bright-blue: #00AFF1;
    --dark-blue:   #1F3593;
    --purple:      #AC2293;
    --light-grey:  #cdcdcd;
    --dark-grey:   #818181;
    --black:       #000000;
    --flo-yellow:  #C9FF00;
    --flo-green:   #02f41a;
    --green:       #4cb780;
}

svg path {
    fill: black;
}

.header {
    border: none;
}

section.kite-colorizer {
    border: 1px solid #000;
    width: 1000px;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    background-image: url(/assets/images/bright-blue-sky-with-a-few-tiny-white-clouds.jpg);

    p, p a, h1 {
        color: white;
    }
}

.revolution-reflex {
    margin: 15px auto;

    .panel {
        fill: #eee;
        stroke: #000000;
        stroke-width: 6px;

        // Each radio button in the toolbox has a value that corresponds to the following classes.
        // Use jquery to add these classes when a panel is clicked.
        &.white {
            fill: var(--white);
        }

        &.yellow {
            fill: var(--yellow);
        }

        &.tangerine {
            fill: var(--tangerine);
        }

        &.orange {
            fill: var(--orange);
        }

        &.red {
            fill: var(--red);
        }

        &.bright-blue {
            fill: var(--bright-blue);
        }

        &.dark-blue {
            fill: var(--dark-blue);
        }

        &.purple {
            fill: var(--purple);
        }

        &.light-grey {
            fill: var(--light-grey);
        }

        &.dark-grey {
            fill: var(--dark-grey);
        }

        &.black {
            fill: var(--black);
        }

        &.flo-yellow {
            fill: var(--flo-yellow);
        }

        &.flo-green {
            fill: var(--flo-green);
        }

        &.green {
            fill: var(--green);
        }
    }
}

svg.revolution-reflex text {
    fill: #000000;
    font-size: 100px;
}

.toolbox {
    width: 1000px;
    height: auto;
    margin: 8px auto;
    border-top: 1px solid #333;
    padding: 10px;
    color: #333;
    background-color: #ccc;

    .clrGroup1,
    .clrGroup2,
    .clrGroup3 {
        width: 30%;
        float: left;
    }

    input[type="radio"] {
        margin-bottom: 14px;
    }

    label {
        padding: 3px;
    }

    #clr0+label {
        background-color: var(--white);
    }

    #clr1+label {
        background-color: var(--yellow);
    }

    #clr2+label {
        background-color: var(--tangerine);
    }

    #clr3+label {
        background-color: var(--orange);
    }

    #clr4+label {
        background-color: var(--red);
    }

    #clr5+label {
        background-color: var(--bright-blue);
        color: #fff;
    }

    #clr6+label {
        background-color: var(--dark-blue);
        color: #fff;
    }

    #clr7+label {
        background-color: var(--purple);
        color: #fff;
    }

    #clr8+label {
        background-color: var(--light-grey);
    }

    #clr9+label {
        background-color: var(--dark-grey);
        color: #fff;
    }

    #clr10+label {
        background-color: var(--black);
        color: #fff;
    }

    #clr11+label {
        background-color: var(--flo-yellow);
    }

    #clr12+label {
        background-color: var(--flo-green);
    }

    #clr13+label {
        background-color: var(--green);
    }
}

.chosen-values {
    width: 1000px;
    margin: 0 auto;
    margin-top: 15px;

    table td.head {
        font-weight: bold;
        text-decoration: underline;
    }

    color: white;
    display: grid;
    grid-template-areas: ". left right .";
    grid-template-columns: 257px 1fr 1fr auto;

    .col-left {
        grid-area: left;
    }

    .col-right {
        grid-area: right;
    }
}

#show-toolbox {
    display: none;
    text-align: right;
}
