body {
    font-family: 'Paprika', cursive;
    font-size: 1.1em;
    color: $text-light;
    letter-spacing: .1em;
    margin: 0;
    padding: 0;
    line-height: 25px;
    background-color: $bkg;
    background-attachment: fixed;
    background-position: 98% 95%;
    background-size: 10%;
}

.wrap {
    width: 100%;
    min-height: 800px;
    padding: 0;

    img {
        max-width: 100%;
        border: 1px solid $border-light;
    }
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    border-bottom: 1px solid $border-light;
    background-color: $bkg;
    z-index: 3;

    .header-text {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        color: $hilight;
        font-style: italic;
        font-size: 1.5em;
        letter-spacing: .3em;
        padding: 13px 80px;
    }
}

.main-content {
    margin: 0 auto 10px auto;
    text-align: center;
    min-width: 90%;
    max-width: 98%;
    width: 90%;
    color: $text-light;
    padding-bottom: 80px;

    td {
        text-align: left;
        vertical-align: top;
    }

    h4 {
        border-bottom: 1px solid $border-light;
    }

    .two-cols {
        float: left;
        width: 100%;
        margin-bottom: 30px;

        .col-left {
            width: 50%;
            float: left;
        }

        .col-right {
            width: 46%;
            float: right;
        }
    }

    .general-text {
        text-align: left;
        margin-top: 10px;
    }
}

.center-img {
    display: block;
    max-width: 100%;
    min-width: 100%;
    max-height: auto;
}

a:link,
a:visited {
	color: $text-link;
    border-bottom: 1px solid $text-mute;
}
a:hover {
    color: $hilight;
    text-decoration: none;
}

ul {
    list-style-type: square;
}

.footer {
    font-style: italic;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
    background: rgba(220, 220, 220, 0.70);

    .footer-text {
        margin-right: 10px;
        color: $dark-grey;
    }
}

#wind-window, 
#wind-window-with-menu {
    position: relative;
    height: 400px;
    max-width: 800px;
    width: 90%;
    top: 65px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid $border-light;
    background-image: url("/assets/images/kilkennySkyBg.png");
    background-size: 800px 400px;
}

#wind-window-with-menu {
    top: 0px;
}

#kite-wrap, #kite { 
    position: absolute;
    top: 365px;
    left: 48%;
    width: 45px; 
    height: 25px; 
    background-size: 45px 25px;
    transform-origin: 50% 35%;
} 

#kite { 
    background-image: url("/assets/images/kite.png");
    top: 0;
    left: 0;
}

#dude-wrap {
    position: absolute;
    top: 282px;
    left: 32px;
    width: 73px;
    height: 113px;
    opacity: .7;
    overflow: hidden;
}

#dude {
    background-image: url("/assets/images/spriteWind.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 1095px;
    height: 113px;
}

#msg {
    position: relative;
    top: 59px;
    left: 0;
    right: 0;
    height: 400px;
    width: 800px;
    margin: 0 auto;
    font-size: .8em;
    text-align: left;
    padding-top: 20px;
}

.wrap img {border: none;}

.pathTestPoint {
    position: absolute;
    height: 6px;
    width: 6px;
    background-color: #f00;
}

.button-bank {
    position: fixed;
    top: 14px;
    left: 25px;
    width: 78px;
    z-index: 4;

    input {
        float: left;
        width: 90%;
        font-size: .7em;
    }

    &.combos {
        left: 34px;

        input {
            width: 180%;
        }
    }
}

.individualPatternLinks {
    width: 90%;
    margin: 0 auto;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 10px;

    th, td {
        padding-left: 10px;
        padding-right: 10px;
    }

    th {
        height: 28px;
        margin-bottom: 0;
    }

    .col1, .col2, .col3 {
        border: 1px solid $border-light;
    }
}

svg path {
    /*
    &#slideCircle {
        stroke: #000;
    }
    */

    fill: none;
}
