body {
    font-family: 'Paprika', cursive;
    font-size: 1.1em;
    color: var(--text-minor);
    letter-spacing: .1em;
    margin: 0;
    padding: 0;
    line-height: 25px;
    background-color: var(--bkg-main);
    background-attachment: fixed;
    background-position: 98% 95%;
    background-size: 10%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-major);
}

.wrap {
    width: 100%;
    min-height: 800px;
    padding: 0;

    img {
        max-width: 100%;
        border: 1px solid var(--border);
    }
}

.header {
    width: 100%;
    height: 56px;
    border-bottom: 1px solid var(--border);
    background-color: var(--bkg-main);

    .header-text {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        color: var(--text-major);
        font-style: italic;
        font-size: 1.5em;
        letter-spacing: .3em;
        padding: 13px 80px;
    }
}

.main-content {
    margin: 8px auto 10px auto;
    text-align: left;
    min-width: 90%;
    max-width: 98%;
    width: 90%;
    color: var(--text-major);
    padding-bottom: 30px;

    td {
        text-align: left;
        vertical-align: top;
    }

    h4 {
        border-bottom: 1px solid var(--border);
    }

    .two-cols {
        float: left;
        width: 100%;
        margin: 20px auto 30px auto;
        text-align: left;

        .col-left {
            width: 50%;
            float: left;
        }

        .col-right {
            width: 46%;
            float: right;
        }
    }
}

.center-img {
    display: block;
    max-width: 100%;
    min-width: 100%;
    max-height: auto;
}

a:link,
a:visited {
    color: var(--text-link);
    border-bottom: 1px solid var(--text-mute);
}

a:hover {
    color: var(--text-major);
    text-decoration: none;
}

ul {
    list-style-type: square;
}

.footer, 
.footer-clrzr {
    font-style: italic;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
    background: rgba(220, 220, 220, 0.70);

    .footer-text {
        margin-right: 10px;
        color: var(--dark-major);
    }

    a {
        color: var(--dark-major);
    }
}

.footer-clrzr {
    width: auto;
    position: inherit;
    background: none;
    font-size: 9px;
    text-align: center;
}

#wind-window, 
#wind-window-with-menu {
    position: relative;
    height: calc(100vh - 70px);
    max-height: 400px;
    max-width: 800px;
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid var(--border);
    background-image: url("/assets/images/kilkennySkyBg.png");
    background-size: 800px 400px;
    background-repeat: no-repeat;
}

#wind-window-with-menu {
    top: 0px;
}

#kite-wrap, #kite { 
    position: absolute;
    top: 365px;
    left: 47%;
    width: 45px; 
    height: 25px; 
    background-size: 45px 25px;
    transform-origin: 50% 35%;
} 

#kite { 
    background-image: url("/assets/images/kite.png");
    top: 0;
    left: 0;
}

#dude-wrap {
    position: absolute;
    top: 282px;
    left: 32px;
    width: 73px;
    height: 113px;
    opacity: .7;
    overflow: hidden;
}

#dude {
    background-image: url("/assets/images/spriteWind.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 1095px;
    height: 113px;
}

#msg {
    position: relative;
    left: 0;
    right: 0;
    height: 400px;
    width: 800px;
    margin: 0 auto;
    font-size: .8em;
    text-align: left;
    padding-top: 20px;
}

.wrap img {border: none;}

.pathTestPoint {
    position: absolute;
    height: 6px;
    width: 6px;
    background-color: #f00;
}

.button-bank {
    position: fixed;
    top: 66px;
    left: 25px;
    width: 78px;
    z-index: 4;

    input {
        float: left;
        width: 90%;
        font-size: .7em;
    }

    &.combos {
        left: 34px;

        input {
            width: 180%;
        }
    }
}

.individualPatternLinks {
    width: 90%;
    margin: 0 auto;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 10px;

    th, td {
        padding-left: 10px;
        padding-right: 10px;
    }

    th {
        height: 28px;
        margin-bottom: 0;
    }

    .col1, .col2, .col3 {
        border: 1px solid var(--border);
    }
}

svg {
    width: 100%;
    height: 100%;

    path {
        /*
        &#slideCircle {
            stroke: #000;
        }
        */

        fill: none;
    }
}
