/* Most desktops */
@media only screen and (min-device-width: 991px) {
}

/* Most tablets */
@media only screen and (max-device-width: 990px) {
}

/* Most mobiles */
@media only screen
  and (min-device-width: 360px)
  and (max-device-width: 740px) {
    body {
        font-size: 1em;
    }

    .wrap img {
        max-width: 260px;
    }

    .header {
        display: none;
    }

    .main-content {
        top: 0;
        left: 16px;
        min-width: 91%;

        #wind-window {
            top: 10px;
            width: 703px;
        }

        .button-bank.left {
            top: 10px;
            left: 0;
        }

        .button-bank.right {
            top: 10px;
            left: 632px;
        }

        .button-bank.combos {
            top: 229px;
            left: 562px;
        }
    }
}
