/* Most desktops */
@media only screen and (min-device-width: 991px) {
}

/* Most tablets */
@media only screen and (max-device-width: 990px) {
}

/* Most mobiles */
@media only screen
  and (min-device-width: 360px)
  and (max-device-width: 740px) {
    body {
        font-size: .8em;
    }

    .wrap img {
        max-width: 260px;
    }

    .navbar .navbar-nav .btn-primary {
        line-height: 25px !important;
    }

    .main-content {
        top: 0;
        left: 0;
        min-width: 91%;
        width: 100vw;
        margin: 0;

        #wind-window, 
        #wind-window-with-menu {
            top: -8px;
            height: 100vh;
            max-height: 100vh;
            width: 100vw;
            background-size: cover;
        }

        #dude-wrap {
            top: calc(100vh - 113px);
        }

        #kite-wrap {
            top: calc(100vh - 30px);
        }

        .button-bank {
            top: 15px;
            left: 20px;
        }
    }
}
