/* Most desktops */
@media only screen and (min-device-width: 991px) {
}

/* Most tablets */
@media only screen and (max-device-width: 990px) {
}

/* Most mobiles */
@media only screen
  and (min-device-width: 360px)
  and (max-device-width: 740px) {
    body {
        font-size: .8em;
    }

    .wrap img {
        max-width: 260px;
    }

    .main-content {
        top: 0;
        left: 16px;
        min-width: 91%;
        width: 100%;

        #wind-window {
            top: 65px;
            width: 703px;
        }

        .button-bank {
            top: 15px;
            left: 20px;
        }
    }
}
