.navbar {
    float: left;
    top: 0;
    left: -3px;
    z-index: 2;
    font-size: .8em;

    .navbar-nav {
        width: 265px;
        background-color: $dark-grey;
        color: $hilight;
        margin-top: 10px;

        .btn {
            background-color: inherit;
            border-color: $dark-grey;
        }

        .btn-primary {
            line-height: 30px;
            text-align: left;
            width: 100%;
            color: $hilight;
            border-color: $dark-grey;
        }

        .show > .btn-primary.dropdown-toggle:focus,
        .btn-primary:focus,
        .btn:focus {
            box-shadow: none!important;
            background-color: inherit;
            border-color: $dark-grey;
            transition: none;
        }

        .dropdown-menu {
            background-color: inherit;
            margin-left: 30px;
            border: none;

            &.show {
                margin-top: -10px;
            }
        }
    }
}

.bg-faded {
    background: transparent;
}
