<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <link rel="stylesheet" href="/assets/css/kite-color.css">

        <div class="wrap">

            <div class="header">
                <div class="header-text">
                    {{ page.title }}
                </div>
            </div>

            <div class="main-content">

                {% include {{ page.toolbox }} %}
                <script src="/assets/js/{{ page.presets }}"></script>

                <section class="kite-colorizer">
                    <div class="kite">
                        {{ content }}
                    </div>

                    {% include chosen-values.html %}
                </section>

                <div id="displayCanvas"></div>

                <button id="show-toolbox">exit screenshot mode</button>
            </div>
        </div>

        {% include footer.html %}
    </body>
</html>

