<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <div class="wrap">

            {% include nav.html %}

            <div class="main-content">
                <div id="wind-window-with-menu">
                    <div id="kite-wrap">
                        <div id="kite"></div>
                    </div>

                    <div id="dude-wrap">
                        <div id="dude"></div>
                    </div>

                    <svg id="club38-svg"> </svg>
                </div>

                {{ content }}

                <script>
                    gsap.registerPlugin(MotionPathPlugin);
                    var k = document.getElementById('kite-wrap');
                    var kImg = document.getElementById('kite');
                    var dude = document.getElementById('dude');
                    var dudeTimeline = gsap.timeline({
                        repeat:-1,
                        paused: true
                    });

                    dudeTimeline.to(dude, {
                        backgroundPosition: "-1022px 0",
                        ease: "steps(14)",
                        repeat: -1, 
                        duration: 6,
                    });

                    var timeline = gsap.timeline({
                        defaults: {
                            duration: 1,
                            ease: 'sine.inOut',
                            delay: .5,
                            onStart: startDude,
                            onComplete: stopDude,
                        }
                    });
                </script>

            </div>
        </div>

        {% include footer.html %}
    </body>
</html>

