<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <div class="wrap">

            <div class="header">
                <div class="header-text">
                    {{ page.title }}
                </div>
            </div>

            <div class="main-content">
                {% for l in site.data.skills.levels %}
                    <h4>Level {{ l.level }} - '{{ l.pwd }}'</h4>

                    {% for s in l.skills %}
                        <div class="two-cols">
                            <div class="col-left">
                                {{ s.title }}. {{ s.desc }}
                            </div>

                            <div class="col-right">
                                <a href="https://youtu.be/{{ s.youtube-link }}">youtube</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        {% include footer.html %}
    </body>
</html>

